<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Event_Planner</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>ASign_in.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>Sign_Up</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>Sign_In</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventMaster</servlet-name>
    <servlet-class>com.db.controller.EventMasterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventMaster</servlet-name>
    <url-pattern>/EventMasterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookingEvent</servlet-name>
    <servlet-class>EventBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingEvent</servlet-name>
    <url-pattern>/EventBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomizePackage</servlet-name>
    <servlet-class>CustomizePackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomizePackage</servlet-name>
    <url-pattern>/customize</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Invoice1</servlet-name>
    <servlet-class>Invoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invoice1</servlet-name>
    <url-pattern>/Invoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forgot</servlet-name>
    <servlet-class>Forgot_Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgot</servlet-name>
    <url-pattern>/fpass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>fetchDates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/urvi</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Check</servlet-name>
    <servlet-class>check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/otp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hii</servlet-name>
    <servlet-class>AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hii</servlet-name>
    <url-pattern>/addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register1</servlet-name>
    <servlet-class>Raddtocart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register1</servlet-name>
    <url-pattern>/Radd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Delete1</servlet-name>
    <servlet-class>DeleteEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete1</servlet-name>
    <url-pattern>/deleteevent</url-pattern>
  </servlet-mapping>
  
  <!-- admin -->
   <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.db.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>change</servlet-name>
    <servlet-class>ChangePassDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>change</servlet-name>
    <url-pattern>/change</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>edit</servlet-name>
    <servlet-class>com.db.controller.EventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/EventController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>addItem1</servlet-name>
    <servlet-class>com.db.controller.EventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addItem1</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping> 
  
</web-app>